header {
    padding: 40px;
}

#green {
    color: #5fd854;
    text-transform: none;
}

/*menu*/
.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-nav {
    align-items: center;
    background-color: #37373F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 20px 60px;
}
.menu-nav span {
    transition: all .3s ease-in-out;
}
.menu-nav span:hover {
    color: #5fd854;
}

.button {
    background-color: #37373F;
 }

 /*menu-icons*/
 .menu-social {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 45%;
 }

 .menu-social a img {
    transition: all .2s ease-in-out;
 }

 .menu-social a img:hover {
    transform: scale(1.1);
 }

 .menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
 }

 /*responsive*/
 @media (min-width: 576px) {
    .menu-nav {
        border-radius: 100px;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 30px;
    }
    .menu-social {
        justify-content: space-around;
    }
 } 
 
 @media (min-width: 768px) {
    header {
        padding: 60px;
    }
    .menu {
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-social {
        padding-left: 30%;
        width: 75%;
    }
 }

 @media (min-width: 900px) {
    header {
        padding: 100px;
    }
    .menu-logo {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
    .caption, .caption span {
        font-size: 1rem;
    }
 }