/*title main*/
.title {
    padding: 0 40px 40px;
}

.title h1 {
    font-size: 3rem;
}

 /*responsive*/
 @media (min-width: 576px) {
    .title h1 {
        font-size: 4rem; 
    }
 } 
 
 @media (min-width: 768px) {
     .title {
         padding: 0 60px 60px;
     }

    .title h1 {
        font-size: 5rem;
    }
 }

 @media (min-width: 900px) {
     .title {
         padding: 0 100px 100px;
         width: 65%;
     }

    .title h1 {
        font-size: 6rem;
    }
 }