/*project*/
.projects {
    padding: 80px 20px;
}

.projects-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.card-imagem {
    background-position: center;
    background-size: cover;
    border: 1px solid #4141418a;
    border-radius: 10px;
    height: 100px;
    transition: all .2s ease-in-out;
    width: 200px;
}
#rasidia {
    background-image: url('../../assets/images/img-project-site.svg');
}
#angela {
    background-image: url('../../assets/images/angela.svg');

}


.card-imagem:hover {
    border-radius: 10px;
    transform: scale(1.2);
    
}
.card {
    align-items: center;
    border: 1px solid #414141;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 355px;
    min-height: 120px;
    padding: 30px;
    transition: all 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}


.card-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.card-content p {
    opacity: 85%;
    text-align: start;
}

.card-content .roboto-medium {
    text-align: start;
}
.card-content .card-link {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding-top: 15px;
    width: 100%;
}

.card-link a {
    color: #14F800;
    opacity: 75%;
    transition: all .2s ease-in-out;
}
.card-link a:hover {
    cursor: pointer;
    font-weight: 500;
    opacity: 100%;
}


/*responsive*/
@media (min-width: 200px) {
    .projects {
        padding: 0 40px 40px;
    }
    
}

@media (min-width: 768px) {
    .projects{
        padding: 0 60px 60px;
    }
    
    .card {
        flex-direction: row;
    }

    
}

@media (min-width: 992px) {
    .projects{
        padding: 0 100px 100px;
    }
    .card {
        max-width: 455px;
    }
    .card-content .card-link {
        width: 65%;
    }
        
}